@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}



.main{
  
    width: 100vw;
    margin: 0 auto;
    height: 100vh;

    
    
}

.logo{
  color: white;
  
}
.login{
  color: white;
}
.image{
  background-image: url(/images/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  height: 100vh;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.625rem;
    

    
}
.nav>.menu{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    
    
    
}
.menu>li{
    
    list-style: none;
    color: white
}

.member>button{
    background-color: #23a6f0;
    border: none;
    border-radius: 0.188rem;
    text-align: center;
    padding: 0.875rem;
    color: white;
    
}
.member{
  
 
}
.body1{
   
    margin: 0 auto;
    height: 40vh;
    width: 70vh;
    margin-top: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.quote>button{
    margin-top: 1.875rem;
    padding: 0.625rem;
    color: white;
    border-radius: 1.875rem;
    margin-left: 1.875rem;
    background-color: #23a6f0;
    border-color:  #23a6f0;
}
.content>h4{
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}

.content{
    margin: 1.25rem;
}
.below-content{
    margin-top: 1.25rem;
}
.cards{
    height: 7.5rem;
    width: 10.625rem;
    background-color: white;
    padding: 1.25rem;
    font-size: small;
    color: black;
}
.cards>.fa-solid{
  
  
  padding: 0.625rem;
  font-size: large;
  color: #23a6f0;
}

.fa-solid{
    color: #23a6f0;
    padding-bottom: 0.5rem;
    font-size: 2.375rem;
}
.card1> h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    margin-bottom: 1.25rem;
}

.card-container{
    
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.second-card{
  gap: 1.25rem;
  
 
}
.second-card>.cards11{
  background-color: white;
}
.second-card>.cards11>.fa-solid{
  color: #23a6f0;
}
.second-card>.cards22{
  background-color: white;
  color: black;
}
.second-card>.cards22>.fa-solid{
  color: #23a6f0;
}
.second-card>.cards3{
  background-color: white;
  color: black;
}
.second-card>.cards3>.fa-solid{
  color: #23a6f0;
}
.company-info{
  text-align: left;
}
.cards3{
    height: 7.5rem;
    width: 10.625rem;
    background-color: #23a6f0;
    padding: 1.25rem;
    color: white;
    font-size: small;
}
.card-container{
 margin-top: 9.313rem;
}
.cards3>.fa-solid{
    color: white;
    padding-bottom: 8px;
    font-size: larger;
}
cards212{

}
.second-card33>.cards-price{
  border: solid 0.063rem;
  border-color: #23a6f0;
}




.cards22{
    height: 7.5rem;
    width: 10.625rem;
    background-color: rgb(69, 90, 214);
    padding: 1.25rem;
    color: white;
    font-size: small;
   
}
.fa-regular{
    margin-bottom: 1.25rem;
    font-size: 2.375rem;
    color: #23a6f0;;
}
.cards11{
    height: 7.5rem;
    width: 10.625rem;
    background-color: rgb(13, 35, 202);
    padding: 1.25rem;
    color: black;
    font-size: small;
}
.main-container{
 
}

.second-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1.875rem;

}
.fa-solid{
    margin-bottom: 1.25rem;
    font-size: 2.125rem;
    color: white;
    
}
.card12{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.cards33{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.description{
    font-size: small;
    text-align: center;
    margin-top: 0.25rem;
}
.second-card>.cards12{
    height: 9.375rem;
    width: 10.625rem;
    background-color: #ffffff;
    padding: 1.25rem;
    padding-bottom: 2.5rem;

}
.checked {
    color: orange;
  }

  .rating{
    text-align: center;
    padding-top: 0.875rem;
  }

  .second-card>.cards21{
    height: 8.125rem;
    width: 90px;
    background-color: white;
    padding: 1.25rem;
    text-align: center;
   
  }
  .second-card>.cards212{
 
    height: 2.5rem;
    width: 50rem;
    background-color: white;
    padding: 1.25rem;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    font-weight: bold;
    background: linear-gradient(to right, #071eae, #d020d0);
  }

  .cards212>input{
    padding: 1.25rem;
    border-radius: 8px;
  }
  .cards212>label {
    padding: 0.938rem;
    background-color: rgb(32, 32, 204);
    color: white;

    border-radius: 0.438rem;
  }
  .subscribe{
   
  
  }
  .cards200{
    text-align: center;
    background-color: white;
    height: 6.25rem;
  }
  .pracing{
    font-size: xx-large;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .cards200>p{
    
  }

  .cards-price{
    width: 15rem;
    height: 26.875rem;
    background-color: antiquewhite;
    padding: 1.25rem 0.625rem 1.25rem 0.625rem;
    text-align: center;
    border:solid 0.063rem;


  }
  .packages>li{
    list-style: none;
    text-align: left;
  }
  .buttons{
    background-color: #23a6f0;
    margin-top: 60px;
    padding: 0.625rem 25px 0.625rem 25px;
    margin-bottom: 1.25rem;
    color: white;
    font-weight: bold;
    border-radius: 0.25rem;
    border-color: #23a6f0;



  }
  .service{
    font-size: large;
    font-weight: bold;
    padding: 0.625rem;
  }
  .organise{
    font-weight: bold;
    padding: 0.938rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .charges{
    font-size: x-large;
    color:  #23a6f0;
    font-weight: bold;
  }
  .price1{
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .prices{
    display: flex;
    flex-direction: row;
    gap: 0.438rem;
    justify-content: center;
    align-items: center;
    color: #23a6f0;
    margin-bottom: 0.938rem;
  }
  .packages{
    margin-top: 1.25rem;
    
  }
  .cards-price{
    background-color: white;
    border-color: #23a6f0;
    border: solid 0.063rem;
    border-radius: 8px;
    padding-bottom: 2.5rem;
    
    
  }
  .cards-price2{
    
      width: 1;
      height: 26.875rem;
      background-color: #252b42;
      padding: 1.25rem 0.625rem 1.25rem 0.625rem;
      text-align: center;
      color: white;
      padding-top: 1.25rem;
      margin-bottom: 1.25rem;
      padding-bottom: 68px;
      border-radius: 8px;
      
  }
  .second-card33{
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    gap: 0.063rem;
    align-items: center;
    justify-content: center;
    margin-top: 4.375rem;
}

.cards-price44{
  background-color: #252b42;
  border-color: #23a6f0;;
  border: solid 0.063rem;
  border-radius: 8px;
  border-color: #252b42;
  width: 80%;
  height: 25rem;
  margin-top: 1.875rem;
  margin-left: 4.375rem;
  padding-left: 5rem;
  display: flex;
  flex-direction: row;
  color: white;

}

.outer-branch{
  background-color: #252b42;
  margin-top: 1.875rem;
  padding-top: 1.875rem;
}
.map{

}
.branches>h4{
  margin-bottom: 0.875rem;
  font-weight: bold;
  font-size: large;
}
.branches>p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  
}

.second-card331{
 
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  margin-top: -11.25rem;

  
}
.cards-price99{

border-color: #23a6f0;
border: solid 0.063rem;
border-left: 0px;
border-color: rgb(241, 235, 235);
border-bottom: none;
width: -0.016rem;
background-color: white;


  
}
.cards-price91{
  background-color: white;
  border-color: #23a6f0;
  border: solid 0.063rem;
  border-right: 0px;
  border-color: rgb(241, 235, 235);
  
 margin-top: 1.25rem;
  
}
.form2>label{

}

.form-content{
  display: flex;
  flex-direction: column;
  margin: 1.25rem;
}

.form2>input{
  width: 23.75rem;
  background-color: rgb(247, 241, 241);
  padding: 0.625rem;
  border-radius: 0.438rem;
  border: none;
}
.dep{
  width: 25rem;
  background-color: rgb(248, 242, 242);
  padding: 0.625rem;
  border-radius: 0.438rem;
  border: none;
}

.appoint{
  width: 25rem;
  padding: 0.625rem;
  border-radius: 0.438rem;
  border: none;
  color: rgb(50, 50, 167);
  background-color: #23a6f0;
  color: white;

}
.dp{
  width: 25rem;
  background-color: rgb(250, 246, 246);
  padding: 0.625rem;
  border-radius: 0.438rem;
  border: none;
}
.booking{
  text-align: center;
  margin-top: 0.625rem;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.second-card331{
  

}
.contact-us{
  background-color: #23a6f0;
  color: white;
  padding: 0.625rem;
  border-radius: 0.438rem;
  text-align: center;
}
.second-card>.cards2121{
  
  height: 2.5rem;
  width: 50rem;
  background-color: white;
  padding: 1.25rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: large;
  font-weight: bold;
  background-color: rgba(248, 242, 247, 0.719);
}

.company-menu{
  font-size: small;
  text-align: left;
}
.company-menu>li{
  list-style: none;
  line-height: 1.875rem;
}
.company-info{
  font-size: 0.813rem;
  font-weight: bold;
  padding-bottom: 0.438rem;
}
.second-card>.cards202{
  height: 8.75rem;
  width: 8.75rem;
  background-color: white;
  padding: 1.25rem;
  text-align: center;

}

.company-menu>li>i{
  color: #23a6f0;
  width: 0.188rem;
  height: 0.188rem;
  margin-right: 0.813rem;

  font-size: small;
}

.company-menu{
  flex-direction: column ;
  display: flex;
  gap: 0.25rem;
  justify-content: space-between;
  font-size: small;
}
.second-card>.cards208{
  height: 8.75rem;
  width: 10.625rem;
  background-color: white;
  padding: 1.25rem;
  text-align: center;
  font-size: 0.438rem
}

.contact-us1{
  gap: 1.875rem;
}

.fa-brands{
  color: #23a6f0;
}

.second-card>.cards2120{
  background-color: #fafafa;
  height: 2.5rem;
  width: 50rem;
  
  padding: 1.25rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: large;
  font-weight: bold;
 
  align-items: center;
  justify-content: center;
}
.industrys{
font-size: x-large;
}
.industry-content{
  font-size: small;
  font-weight: lighter;
  text-align: center;
}
.testimonies {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  justify-content: space-between;
  gap: 0.7rem;
}
.testimonies .testimonial-card {
  width: 17rem;
  height: auto;
  padding: 2.2rem 0;
  text-align: center;
  border: 1px solid rgb(223, 215, 215);
  border-radius: 5px;
}
.testimonies .testimonial-card > img {
  height: 8rem;
  width: 8rem;
}
.testimonies .testimonial-card p {
  margin: 1rem;
  color: var(--light-gray);
}





@media only screen and ( max-width:375px)
{
  .image{
    background-image: url(/images/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    width: 100vw;
    height: 100vh;
  }

  *{
    margin: 0;
    padding: 0;
  }
  .main{
  
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;

    
    
}

  .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    font-size: 10px;
    
    margin-right: 0px;
    background-color: #23a6f0;
    gap: 2.4px;
    justify-content: left;
    padding: 1px;
   
}
.nav>.menu{
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  
}

.logo{
  color: white;
  margin-right: 0.1rem;
  margin-left: 0px;
  
  
}
.member>button{
  background-color: #23a6f0;
  border: none;
  border-radius: 0.188rem;
  text-align: center;
  padding: 0.175rem;
  color: white;
  font-size: 10px;
  
}
.body1{
   
  
  height: 40vh;
  width: 40vw;
  margin-top: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

}
.main{
  
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  
 
}
.nav>.menu{
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  font-size: 10px;
  margin-right: 1px;
  
}
.body1{
   
  margin: 0 auto;
  height: 40vh;
  width: 49vw;
  margin-top: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
  flex-wrap: wrap;
}
.quote>button{
  margin-top: 1.875rem;
  padding: 0.625rem;
  color: white;
  border-radius: 1.875rem;
  margin-left: 0.775rem;
  background-color: #23a6f0;
  border-color:  #23a6f0;
}

.card-container{
    
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.85rem;
  align-items: center;
  justify-content: center;
  margin-top: 7.9rem;
}
.second-card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.775rem;
  gap: 1.875rem;

}
.cards>.fa-solid{
  
  
  padding: 0.325rem;
  font-size: large;
  color: #23a6f0;
}

.content{
  margin: 0.45rem;
}
.below-content{
  margin-top: 0.45rem;
}
.cards{
  height: 7.5rem;
  width: 10.625rem;
  background-color: white;
  padding: 0.35rem;
  font-size: small;
  color: black;
  margin-bottom: 0,2rem;
}
.cards>.fa-solid{
  
  
  padding: 0.325rem;
  font-size: large;
  color: #23a6f0;
}
.card1> h4{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: brown;
  margin-bottom: 0.825rem;
}
.second-card{
  gap: 0.85rem;
  display: flex;
  flex-wrap: wrap;
  
 
}
.cards3{
  height: 7.5rem;
  width: 10.625rem;
  background-color: #23a6f0;
  padding: 0.75rem;
  color: white;
  font-size: small;
}
.testimonies {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  justify-content: space-between;
  gap: 0.7rem;
  flex-wrap: wrap;
 justify-content: center;
 margin-bottom: 40px;
 margin-top: 40px;

}
.content>h4{
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: x-large;
}

.second-card33{
  background-color: #fafafa;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.063rem;
  align-items: center;
  justify-content: center;
  margin-top: 4.375rem;
}
.cards-price44{
  background-color: #252b42;
  border-color: #23a6f0;;
  border: solid 0.063rem;
  border-radius: 8px;
  border-color: #252b42;
  width: 40vw;
  height: 25rem;
  margin-top: 1.875rem;
  margin-left: 0.1375rem;
  padding-left: 5rem;
  display: flex;
  flex-direction: row;
  color: white;

}
.branches>h4{
  margin-bottom: 0.875rem;
  font-weight: bold;
  font-size: small;
}
.branches>p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 9px;
  padding-bottom: 10px;
  width: 170px;
  
}
.cards-price91{
  background-color: white;
  border-color: #23a6f0;
  border: solid 0.063rem;
  border-right: 0px;
  border-color: rgb(241, 235, 235);
  
 margin-top: 1.25rem;
  
}
.cards-price91>img{
  width: 100%;
  height: 420px;
  
}
.cards-price99{

  border-color: #23a6f0;
  border: solid 0.063rem;
  border-left: 0px;
  border-color: rgb(241, 235, 235);
  border-bottom: none;
  width: -0.016rem;
  background-color: white;
 
  }
  .form-content{
    display: flex;
    flex-direction: column;
    margin: 0.25rem;
  }
  .form2>input{
    width: 14.75rem;
    background-color: rgb(247, 241, 241);
    padding: 0.325rem;
    border-radius: 0.438rem;
    border: none;
    font-size: small;
  }
  .dep{
    width: 14.7rem;
    background-color: rgb(248, 242, 242);
    padding: 0.325rem;
    border-radius: 0.438rem;
    border: none;
  }
  
  .appoint{
    width: 14.7rem;
    padding: 0.325rem;
    border-radius: 0.438rem;
    border: none;
    color: rgb(50, 50, 167);
    background-color: #23a6f0;
    color: white;
  
  }
  .dp{
    width: 14.7rem;
    background-color: rgb(250, 246, 246);
    padding: 0.625rem;
    border-radius: 0.438rem;
    border: none;
  }
  .booking{
    text-align: center;
    margin-top: 0.325rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .second-card331{
  
width: 100vw;
height: 100vh;
  }
  .second-card>.cards2121{
    margin-top: 4px;
    height: 2.5rem;
    width: 50rem;
    background-color: white;
    padding: 1.25rem;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    font-weight: bold;
    background-color: rgba(248, 242, 247, 0.719);
  }
  .contact-us{
    background-color: #23a6f0;
    color: white;
    padding: 0.425rem;
    border-radius: 0.438rem;
    text-align: center;
    font-size: 10px;
  }
  .subscribe{
   
  font-size: 10px;
  }
  .second-card>.cards2121{
  
  height: 2.5rem;
  width: 50rem;
  background-color: white;
  padding: 0.35rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: large;
  font-weight: bold;
  background-color: rgba(248, 242, 247, 0.719);
}
.second-card>.cards212{
 
  height: 2.5rem;
  width: 50rem;
  background-color: white;
  padding: 0.35rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: large;
  font-weight: bold;
  align-items: center;
  gap: 20px;
  background: linear-gradient(to right, #071eae, #d020d0);
}
.sub{
  display: flex;
  flex-direction: row;

}
.sub>input{
  padding: 10px;
}
.sub>label{
  font-size: small;
  background-color: #23a6f0;
  text-align: center;
  justify-content: center;

}
.cards3{
  height: 7.5rem;
  width: 10.625rem;
  background-color: #23a6f0;
  padding: 1.25rem;
  color: white;
  font-size: small;
  margin-bottom: 0px;
}
.cards11{
  height: 7.5rem;
  width: 10.625rem;
  background: none;
  padding: 1.25rem;
  color: black;
  font-size: small;

}
.card-container{
  margin-bottom: 9.313rem;
 }
 .second-card{
  margin-top: 230px;
 }
 .cards-price2{
    
  width: 1;
  height: 26.875rem;
  background-color: #252b42;
  padding: 1.25rem 0.625rem 1.25rem 0.625rem;
  text-align: center;
  color: white;
  padding-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding-bottom: 68px;
  border-radius: 8px;

  
}
.packages{
  margin-top: 1.25rem;
  font-size: small;
  
}


}



